@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-brand-navy:        #081928;
    --color-brand-white:       #F5F5F5;
    --color-brand-cyan:        #04FEFD;
    --color-brand-gold:        #EAAB29;
    
    --color-highlight:         #D1A04C;
    --color-neutral:           #B0B0B0;
    --color-fix-me:            #FF69B4;
}

@theme {
    --color-heading:           var(--color-brand-gold);
    --color-subheading:        var(--color-brand-navy);
    --color-body:              #111827;
    --color-body-muted:        #1C2942;

    --color-page:              var(--color-brand-white);
    --color-header:            var(--color-brand-white);
    --color-footer:            #20A4F3;
    
    --color-sidenav:           var(--color-heading);
    --color-card:              #FFEEDB;
    --color-border:            #FFD6A8;
    
    --color-banner:            #2C3E50;
    --color-highlight:         var(--color-brand-cyan);
    --color-overlay:           var(--color-page);

    --color-accent-bright:     #7F96FF;
    --color-accent-subtle:     #E3DFFF;
    
    --color-input:             #D6D6D6;
    --color-input-disabled:    #ADADAD;
    --color-focus:             var(--color-brand-gold);

    --color-button:            var(--color-brand-gold);
    --color-button-text:       var(--color-brand-navy);

    --color-link:              var(--color-brand-gold);
    --color-link-hover:        #7F96FF;

}

@layer base {
    [data-theme='dark'] {
        --color-heading:       var(--color-brand-cyan);
        --color-subheading:    var(--color-brand-white);
        --color-body:          #FFFAF7;
        --color-body-muted:    #B5AEAD;

        --color-page:          var(--color-brand-navy);
        --color-header:        var(--color-brand-navy);
        --color-footer:        #FF3366;
        
        --color-sidenav:       var(--color-heading);
        --color-card:          #2C3E50;
        --color-border:        #154269;
        
        --color-banner:        #FFEEDB;
        --color-highlight:     var(--color-brand-gold);
        --color-overlay:       var(--color-page);

        --color-accent-bright: #9046CF;
        --color-accent-subtle: #69299f;
        
        --color-input:         #4f4f4f;
        --color-input-disabled: #476481;
        --color-focus:         var(--color-brand-cyan);

        --color-button:        var(--color-brand-cyan);
        --color-button-text:   var(--color-brand-navy);

        --color-link:          var(--color-brand-cyan);
        --color-link-hover:    #9046CF;

    }

    html {
        font-size: clamp(12px, 1.2vw, 16px);
        background-color: var(--color-page);
        color: var(--color-text);
    }
}
